<header class="header">
  <button class="header--btn header--btn__menu" type="button">
    <i class="fa-solid fa-bars"></i>
  </button>
  <a class="header--home" routerLink="/">
    <div class="header--logo">DIO</div>
    <h1 class="header--title">Angular Blog</h1>
  </a>
  <button class="header--btn" type="button">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
  <nav class="header--nav">
    <ul class="header--navlist">
      <li class="header--navitem" *ngFor="let topic of mainTopics">
        <a routerLink="/" [queryParams]="{ searchBy: topic }">{{ topic }}</a>
      </li>
    </ul>
  </nav>
  <label class="header--search" for="searchBy">
    <i
      #searchIcon
      (click)="onSearchIconClick(searchIcon)"
      class="fa-solid fa-magnifying-glass header--search--icon"
    ></i>
    <input
      (search)="onSearch($event)"
      class="header--search--input"
      type="search"
      name="searchBy"
      id="searchBy"
      placeholder="Pesquisar por"
    />
  </label>
</header>
